@import "tailwindcss";

body {
  background-color: #ffe5cc;
  font-family: 'Arial', sans-serif;
}

.hovercommun:hover {
  background-color: #c17575;
  color: var(--color-red-950);
  cursor: pointer;
}

.common-carousel .swiper-button-next::after,
.common-carousel .swiper-button-prev::after {
  display: none;
}

.common-carousel .swiper-button-next,
.common-carousel .swiper-button-prev {
  position: relative; 
  inset: auto;
  margin: 30px;

  width: 48px;
  height: 48px;

  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;
}

.common-carousel .swiper-button-next:hover,
.common-carousel .swiper-button-prev:hover {
  background-color: #c17575;
}

.common-carousel .swiper-button-next svg,
.common-carousel .swiper-button-prev svg {
  width: 22px;
  height: 22px;
}

